<p>
  <strong>Title:</strong>
  <%= @song.title %>
</p>
 
<p>
  <strong>Key:</strong>
  <%= @song.key %>
</p>
 
<p>
  <strong>Setting:</strong>
  <%= @song.setting %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @song.notes %>
</p>
